.dashboard {
  .widget-list {
    margin: 24px;
    display: grid;
    // grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 24px;
    // @media screen and (min-width: 1200px) {
    //   grid-template-columns: repeat(, minmax(300px, 1fr));
    // }

    // @media screen and (min-width: 2000px) {
    //   grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    // }
  }
}
