<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="WalldashDb"
				 connectionString="Data Source=mssql15.unoeuro.com;Initial Catalog=mfabricius_dk_db_walldash;User ID=mfabricius_dk;Password=sysADMIN9Sk9ofN3;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</connectionStrings>
</configuration>