$c-background: #e7ecf2;
$c-background-light: #ffffff;
$c-background-dark: #0f1723;

$c-text-main: #3e5172;

$c-border: #55698c;
$c-input: #f8f9fc;
$c-input-dark: #f0f2f7;

$c-highlight: #2591cf;

$c-danger: #ff4545;
