.base-widget {
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: 100%;
  border-radius: 8px;

  &:hover {
    .button-edit {
      display: block;
    }
  }

  .aspec-ratio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
